{% extends "account/base.html" %}

{% load i18n %}

{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div style='min-height:400px;'class=" px-4 pt-48 pb-16 h-72 bg-gradient-to-r  from-yellow-700 to-yellow-900 shadow caluclator about-caluculator ">
	<h1 class="px-10 text-5xl font-bold pb-8 text-gray-200 "> Login </h1>
	<p class='px-10 text-lg text-gray-300 leading-loose'>Manage your shop details on your personal page. If you don't have an account, just create one! 
	</p>
</div>



<div class="py-16 px-10 "> 
  <div class="px-4 w-full sm:w-1/2">

    <h1 class="pb-3 font-bold text-gray-800 text-xl">{% trans "Log in" %}</h1>

    <p class='pb-2 text-gray-500'>{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>


    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form|crispy}}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="bg-yellow-700 text-white bg-yellow-14 hover:text-yellow-200 hover:bg-yellow-500 px-6 py-4 rounded-xl " type="submit">{% trans "Sign In" %}</button>
    </form>

  </div>
</div>


{% endblock %}
