{% extends "base.html" %}

{% load static %}

{% block title %}Waste Wize Web{% endblock %}


{% block content %}

<!-- Html starts here  -->



<!--  Temporarily the Calculator gets here until it gets its own app -->

<!-- Start  Calculator -->

<!-- calculator -->
<div class="css-test">
	<section id="calculator">
		<div class="caluclator about-caluculator">
			<h1>Heading</h1>
			<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
				dolore magna aliqua. Pulvinar pellentesque habitant morbi tristique senectus et netus et malesuada. Sed
				libero enim sed faucibus turpis in. In tellus integer feugiat scelerisque. Vel fringilla est ullamcorper
				eget nulla facilisi etiam. Sapien faucibus et molestie ac feugiat. Auctor augue mauris augue neque
				gravida in fermentum. Sed felis eget velit aliquet sagittis id. Faucibus turpis in eu mi bibendum. Nulla
				aliquet porttitor lacus luctus. Gravida in fermentum et sollicitudin ac. Lectus magna fringilla urna
				porttitor rhoncus dolor. Magna eget est lorem ipsum dolor sit amet. Interdum varius sit amet mattis
				vulputate. Bibendum neque egestas congue quisque egestas. Eros donec ac odio tempor orci dapibus
				ultrices. Ante in nibh mauris cursus. Scelerisque felis imperdiet proin fermentum leo vel orci.
			</h3>
		</div>
		<div class="button-holder">
			<button class="food-button">Food</button>
			<button class="plastic-button">Plastic</button>
		</div>
		<div id="holder">
			<div class="calculator calculator-food" id="food">
				<table>
					<thead>
						<tr>
							<th></th>
							<th>Input</th>
							<th>Rate</th>
							<th></th>
							<th>Result</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>Diary</th>
							<td>
								<div>
									<input type="number" class="numbers" aria-label="Weight in grams">
									<span>
										<select name="units" class="weight">
											<option value="1">gm</option>
											<option value="1000">kg</option>
										</select>
									</span>
								</div>
							</td>
							<td class="rates">1.762</td>
							<td> <select name="frequency" class="time">
									<option value="365">Day</option>
									<option value="52">Week</option>
									<option value="12">Month</option>
									<option value="1">Year</option>
								</select>
							</td>
							<td>
								<div>
									<span class="results">0</span>
									<span>kg CO2 / year</span>
								</div>
							</td>
						</tr>
						<tr>
							<th>Beef</th>
							<td>
								<div>
									<input type="number" class="numbers" aria-label="Weight in grams">
									<span>
										<select name="units" class="weight">
											<option value="1">gm</option>
											<option value="1000">kg</option>
										</select>
									</span>
								</div>
							</td>
							<td class="rates">4.333</td>
							<td> <select name="frequency" class="time">
									<option value="365">Day</option>
									<option value="52">Week</option>
									<option value="12">Month</option>
									<option value="1">Year</option>
								</select>
							</td>
							<td>
								<div>
									<span class="results">0</span>
									<span>kg CO2 / year</span>
								</div>
							</td>
						</tr>
						<tr>
							<th>Beef</th>
							<td>
								<div>
									<input type="number" class="numbers" aria-label="Weight in grams">
									<span>
										<select name="units" class="weight">
											<option value="1">gm</option>
											<option value="1000">kg</option>
										</select>
									</span>
								</div>
							</td>
							<td class="rates">4.333</td>
							<td> <select name="frequency" class="time">
									<option value="365">Day</option>
									<option value="52">Week</option>
									<option value="12">Month</option>
									<option value="1">Year</option>
								</select>
							</td>
							<td>
								<div>
									<span class="results">0</span>
									<span>kg CO2 / year</span>
								</div>
							</td>
						</tr>
						<tr>
							<th>Beef</th>
							<td>
								<div>
									<input type="number" class="numbers" aria-label="Weight in grams">
									<span>
										<select name="units" class="weight">
											<option value="1">gm</option>
											<option value="1000">kg</option>
										</select>
									</span>
								</div>
							</td>
							<td class="rates">4.333</td>
							<td> <select name="frequency" class="time">
									<option value="365">Day</option>
									<option value="52">Week</option>
									<option value="12">Month</option>
									<option value="1">Year</option>
								</select>
							</td>
							<td>
								<div>
									<span class="results">0</span>
									<span>kg CO2 / year</span>
								</div>
							</td>
						</tr>
						<tr>
							<th>Beef</th>
							<td>
								<div>
									<input type="number" class="numbers" aria-label="Weight in grams">
									<span>
										<select name="units" class="weight">
											<option value="1">gm</option>
											<option value="1000">kg</option>
										</select>
									</span>
								</div>
							</td>
							<td class="rates">4.333</td>
							<td> <select name="frequency" class="time">
									<option value="365">Day</option>
									<option value="52">Week</option>
									<option value="12">Month</option>
									<option value="1">Year</option>
								</select>
							</td>
							<td>
								<div>
									<span class="results">0</span>
									<span>kg CO2 / year</span>
								</div>
							</td>
						</tr>
						<tr>
							<th>Beef</th>
							<td>
								<div>
									<input type="number" class="numbers" aria-label="Weight in grams">
									<span>gm</span>
								</div>
							</td>
							<td class="rates">4.333</td>
							<td> <select name="frequency" class="time">
									<option value="365">Day</option>
									<option value="52">Week</option>
									<option value="12">Month</option>
									<option value="1">Year</option>
								</select>
							</td>
							<td>
								<div>
									<span class="results">0</span>
									<span>kg CO2 / year</span>
								</div>
							</td>
						</tr>
						<tr>
							<th>Beef</th>
							<td>
								<div>
									<input type="number" class="numbers" aria-label="Weight in grams">
									<span>
										<select name="units" class="weight">
											<option value="1">gm</option>
											<option value="1000">kg</option>
										</select>
									</span>
								</div>
							</td>
							<td class="rates">4.333</td>
							<td> <select name="frequency" class="time">
									<option value="365">Day</option>
									<option value="52">Week</option>
									<option value="12">Month</option>
									<option value="1">Year</option>
								</select>
							</td>
							<td>
								<div>
									<span class="results">0</span>
									<span>kg CO2 / year</span>
								</div>
							</td>
						</tr>
						<tr>
							<th>Beef</th>
							<td>
								<div>
									<input type="number" class="numbers" aria-label="Weight in grams">
									<span>
										<select name="units" class="weight">
											<option value="1">gm</option>
											<option value="1000">kg</option>
										</select>
									</span>
								</div>
							</td>
							<td class="rates">4.333</td>
							<td> <select name="frequency" class="time">
									<option value="365">Day</option>
									<option value="52">Week</option>
									<option value="12">Month</option>
									<option value="1">Year</option>
								</select>
							</td>
							<td>
								<div>
									<span class="results">0</span>
									<span>kg CO2 / year</span>
								</div>
							</td>
						</tr>

						<tr class="final-total">
							<th></th>
							<td>
								<div>
								</div>
							</td>
							<td></td>
							<td>
								<div>
									<h3>Total</h3>
								</div>
							</td>
							<td>
								<div>
									<span class="total-result">0</span>
									<span>kg CO2 / year</span>
								</div>
							</td>
						</tr>

					</tbody>
				</table>
			</div>
			<div class="calculator calculator-plastic" id="plastic">Here is something</div>
		</div>
		<div class="calculator about-results">
			<h1>Heading</h1>
			<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
				dolore magna aliqua. Pulvinar pellentesque habitant morbi tristique senectus et netus et malesuada. Sed
				libero enim sed faucibus turpis in. In tellus integer feugiat scelerisque. Vel fringilla est ullamcorper
				eget nulla facilisi etiam. Sapien faucibus et molestie ac feugiat. Auctor augue mauris augue neque
				gravida in fermentum. Sed felis eget velit aliquet sagittis id. Faucibus turpis in eu mi bibendum. Nulla
				aliquet porttitor lacus luctus. Gravida in fermentum et sollicitudin ac. Lectus magna fringilla urna
				porttitor rhoncus dolor. Magna eget est lorem ipsum dolor sit amet. Interdum varius sit amet mattis
				vulputate. Bibendum neque egestas congue quisque egestas. Eros donec ac odio tempor orci dapibus
				ultrices. Ante in nibh mauris cursus. Scelerisque felis imperdiet proin fermentum leo vel orci.
			</h3>
		</div>
	</section>
</div>

<!-- <script src="{% static 'static/js/calculator.js' %}"></script> -->

<!-- End Calculator -->


<!-- Html ends here  -->


{% endblock %}




{% block javascript %}

<script src="{% static 'js/calculator.js' %}"></script>
<link rel="stylesheet" href=" {% static 'css/style.css' %}" />


{% endblock %}