{% extends "base.html" %} 

{% load static %}
{% block title %}Calculator{% endblock %} 

{% block content %}

<!-- the following is standard html and can be freely edited (until the comment at the bottom)  -->

<!-- calculator -->
<section class="calculator">
  <div class="`container-fluid">
    <div class="row">
      <div class="col-12 col-md-6">
        <table class="table-hover table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Input</th>
              <th scope="col">Rate</th>
              <th scope="col">Result</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Diary</th>
              <td>
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control numbers"
                    id="number1"
                    aria-label="Weight in grams"
                  />
                  <span class="input-group-text">gm</span>
                </div>
              </td>
              <td class="rates" id="rate1">1.762</td>
              <td>
                <div class="input-group">
                  <span class="results" id="result1">0</span>
                  <span class="input-group-text">gCO2e</span>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">Beef</th>
              <td>
                <div class="input-group">
                  <input
                    type="text"
                    id="number2"
                    class="form-control numbers"
                    aria-label="Weight in grams"
                  />
                  <span class="input-group-text">gm</span>
                </div>
              </td>
              <td class="rates" id="rate2">4.333</td>
              <td>
                <div class="input-group">
                  <span class="results" id="result2">0</span>
                  <span class="input-group-text">gCO2e</span>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-6"></div>
    </div>
  </div>
</section>

<div id="css-test">ABC</div>


<!-- until here you can make changes to the html  -->

{% endblock %}



{% block javascript %}

<script src= " {% static 'js/calculator.js' %}"></script>

{% endblock %}
