.css-test {
    margin: 10%;
    min-height: 80vh;
    width: 80vw;
    background-color: bisque;

}

.calculator {
    padding: 50px;
}

td,
.numbers {
    padding: 2px;
}
span {
    margin: 10px 0;
}

input {
    width: 50%;
}

tr:hover {
    background: rgba(0, 0, 0, 0.1);
}

button {
    height: 25px;
    width: 160px;
    color: brown;
    font-weight: bold;
    font-size: 16px;
}

button:hover {
    background-color: gold;
}

.food-button,
.calculator-food {
    background-color: lightblue;
}

.plastic-button,
.calculator-plastic {
    background-color: lightgreen;
}

.calculator-food {
    display: block;
}

.calculator-plastic {
    display: none;
}

.final-total {
    font-size: 20px;
    font-weight: bold;
    border-top: 1px solid brown;
}
