/* #result-info {
    background: url('../images/calculator-background.jpg') no-repeat center center;
    
    background-size: cover;
    height: 100%;
    width: 100%;
} */

a {
    font-weight: bold;
    text-decoration: underline;
}

/* #result-info {
    display: none;
} */

#result-low {
    display: none;
}

#low-badge{
    height: 10vh;
    width: 10vh;
}