{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <!-- To load static files from Tailwind-->
    <link rel="stylesheet" href=" {% static 'css/main.css' %}" />
		<!-- load alpine.js for repsonive navbar -->
		<script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.3.5/dist/alpine.min.js"
      defer
    ></script>
  </head>
  <body>

		{% include 'partials/nav.html'%}
    
    <main>
			{% block content %}
			{% endblock %}
		</main>
    
    
    <!--  Temporarily the Calculator gets here until it gets its own app -->
    
    <!-- Start  Calculator --> 
    
    <!-- calculator -->
	<section class="calculator">
		<div class="`container-fluid">
			<div class="row">
				<div class="col-12 col-md-6">
					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col"></th>
								<th scope="col">Input</th>
								<th scope="col">Rate</th>
								<th scope="col">Result</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">Diary</th>
								<td>
									<div class="input-group">
										<input type="text" class="form-control numbers" id="number1"
											aria-label="Weight in grams">
										<span class="input-group-text">gm</span>
									</div>
								</td>
								<td class="rates" id="rate1">1.762</td>
								<td>
									<div class="input-group">
										<span class="results" id="result1">0</span>
										<span class="input-group-text">gCO2e</span>
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row">Beef</th>
								<td>
									<div class="input-group">
										<input type="text" id="number2" class="form-control numbers"
											aria-label="Weight in grams">
										<span class="input-group-text">gm</span>
									</div>
								</td>
								<td class="rates" id="rate2">4.333</td>
								<td>
									<div class="input-group">
										<span class="results" id="result2">0</span>
										<span class="input-group-text">gCO2e</span>
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row">2</th>
								<td>Jacob</td>
								<td>Thornton</td>
								<td>@fat</td>
							</tr>
							<tr>
								<th scope="row">3</th>
								<td colspan="2">Larry the Bird</td>
								<td>@twitter</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-6">

				</div>
			</div>
		</div>
	</section>
    
   <div id="css-test">
		ABC
	</div>

	<script src="../calculator.js"></script>
    
    <!-- End Calculator --> 


    {% block javascript %} 
		{% endblock %}
  </body>
</html>

