{% extends "base.html" %}

{% block title %}Waste Wize Web{% endblock %}


{% block content %}

	<div class='bg-yellow-700 text-yellow-100 '>
		<h1 class='text-7xl pt-48 pb-16  '>Waste Wize Web</h1>
		<p>Reduce plastic. Find the nearest zero-waste shop close to you. </p>
		<a href="#">Find your shop</a>
		<a href="#">Register your shop</a>

	</div>

	<h1 class='p-4 text-4xl text-gray-800'> This is just a heading</h1>
	<div class='p-4 text-gray-600'>

		<p> This is just a paragraph to check if it works.</p>

	</div>

{% endblock %}